# rsynx host: ursa
#
# The weekly update regenerates the ftp distribution tar files.
00 23 * * 4 . $HOME/.profile ; cd $MIR && make MIRATNF=1 dist 2>&1 | tee $MIR/etc/dist.log
#
# Update the observatories after all the nightly builds have completed.
30 23 * * 1-5 . $HOME/.profile ; cd $MIR && make MIRATNF=1 rsynx updates bookings 2>&1 | tee $MIR/etc/rsynx.log
#
# $Id$
